* {
  margin:0px;
  padding:0px;
}

#groningen {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#banner {
    background-color: peachpuff; 
}
 
body {
    background-color: rgb(149, 204, 206);
}
 
.bodyText {
    color: #5b120c;
}
