* {
  margin:10px;
  padding:0px;
}

#groningen {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 30px auto;
  font: 10px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#banner {
    background-color: white; 
    height: 40px;
    text-align: center;
}

.box {
background-color: orange;
padding: 100px;
margin: 100px;
opacity: 0.75;
}

body {
    background-image: url(../images/egnbg.jpg);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position: center;
}
 
.bodyText {
    color: #000000;
}

li {
    padding: 10px;
    display: inline;
}

#navBar {
    text-align: center;
}

a {
    text-decoration: none;
    color: orange;
}